<form class="form-horizontal" name="appealsForm" novalidate>
  <fieldset>
    <legend>Generate Appeal Letter</legend>
    <select-field fields="appealFields" model="selectedValue" add-entity="addEntity(addEntityLink)"></select-field>
    <div class="form-group">
      <label for="inputClaimId" class="col-lg-2 col-md-2 control-label">Claim ID</label> 
      <div class="col-lg-10 col-md-10">
      <input type="text" class="form-control" ng-model="selectedClaimId" required/> 
      </div>
    </div>
      <br>
       <div class="form-group">
      <label for="inputDateOfService" class="col-lg-2 col-md-2 control-label">Date of Service</label> 
      <div class="col-lg-10 col-md-10">
      <input type="date" class="form-control" ng-model="selectedDateOfService" required/> 
      </div>
    </div>
      <br>
    <div class="form-group">
      <label for="textArea" class="col-lg-2 col-md-2 control-label">First Paragraph</label>
      <div class="col-lg-10 col-md-10">
        <textarea class="form-control" rows="3" id="textArea" ng-model="selectedParOne"></textarea>
        <span class="help-block">Enter letter specific details here.</span>
      </div>
    </div>
    <div class="form-group">
      <label for="textArea" class="col-lg-2 col-md-2 control-label">Second Paragraph</label>
      <div class="col-lg-10 col-md-10">
        <textarea class="form-control" rows="3" id="textArea" ng-model="selectedParTwo"></textarea>
        <span class="help-block">Enter letter specific details here.</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-md-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default" ng-click="addEntity()">Cancel</button>
        <button type="submit" class="btn btn-primary" ng-disabled="appealsForm.$invalid" ng-click="genAppealsLetter()">Submit</button>
      </div>
    </div>
  </fieldset>
</form>